.guest__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.guest__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.guest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guest__title {
  color: #000;

  font-size: 16px;

  font-weight: 700;
  line-height: 16px; /* 100% */
}

.guest__rete {
  font-size: 16px;
  color: #000;
}

.guest__review {
  font-size: 16px;
  color: #000;
  line-height: 130%;
}
